* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    overflow: scroll;
    margin: 0;
}

.fade-in {
    transition: linear 0.7s ease-in;
}

.title {
    color: #f1f1f1;
    height: 95vh;
    background-size: 100%;
}

.title h1 {
    
}

.about {
    background-color: #0A2239;
}

.resume {
    background-color: #1D84B9;
    height: 100vh;
}

.resume h1 {
    color: #f1f1f1;
}

.project-container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    color: #0A2239;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.55s;
}